<header class="custom-navbar">
  <a href="#" class="logo"><i class="ri-verified-badge-line"></i><span>EVALUACIÓN</span></a>
  <ul class="navbar">
    <li><a href="#" class="active">INICIO</a></li>
    <li><a href="https://ejemplomt1.netlify.app/">EJEMPLO 1</a></li>
    <li><a href="https://ejemplomt2.netlify.app/">EJEMPLO 2</a></li>
    <li><a href="https://ejemplomt3.netlify.app/">EJEMPLO 3</a></li>
    <li><a href="https://ejemplomt4.netlify.app/">EJEMPLO 4</a></li>
    <li><a href="https://ejemplomt5.netlify.app/">EJEMPLO 5</a></li>
    <li><a href="https://ejerciciomt.netlify.app/">EJERCICIO</a></li>
  </ul>
  <div class="main">
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>
</header>

<main>
  <div class="container">
    <h1>Lista de Compras</h1>

    <div class="form-group">
      <label for="nombre">Producto:</label>
      <input type="text" class="form-control" [(ngModel)]="producto.nombre" placeholder="Nombre del producto" />
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="number" class="form-control" [(ngModel)]="producto.cantidad" placeholder="Cantidad" />
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" [(ngModel)]="producto.precio" placeholder="Precio unitario" />
    </div>
    <button class="btn btn-primary" (click)="agregarProducto()">Agregar</button>
    <button class="btn btn-warning" [disabled]="!modoEdicion" (click)="actualizarProducto()">Actualizar</button>

    <h3>Lista de Productos</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaProductos; let i = index">
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precio }}</td>
          <td>{{ item.cantidad * item.precio }}</td>
          <td>
            <button class="btn btn-info" (click)="editarProducto(i)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarProducto(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Total a Pagar: {{ calcularTotal() | currency }}</h4>
  </div>
</main>

<router-outlet></router-outlet>
